doctype html
head
    meta(charset='UTF-8')
    title #{ emailSubjectText }
head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    style.
        @media screen and (max-width: 720px) {
            body .c-v84rpm {
                width: 100% !important;
                max-width: 720px !important;
            }
            body .c-v84rpm .c-7bgiy1 .c-1c86scm {
                display: none !important;
            }
            body .c-v84rpm .c-7bgiy1 .c-f1bud4 .c-pekv9n .c-1qv5bbj,
            body .c-v84rpm .c-7bgiy1 .c-f1bud4 .c-1c9o9ex .c-1qv5bbj,
            body .c-v84rpm .c-7bgiy1 .c-f1bud4 .c-90qmnj .c-1qv5bbj {
                border-width: 1px 0 0 !important;
            }
            body .c-v84rpm .c-7bgiy1 .c-f1bud4 .c-183lp8j .c-1qv5bbj {
                border-width: 1px 0 !important;
            }
            body .c-v84rpm .c-7bgiy1 .c-f1bud4 .c-pekv9n .c-1qv5bbj {
                padding-left: 12px !important;
                padding-right: 12px !important;
            }
            body .c-v84rpm .c-7bgiy1 .c-f1bud4 .c-1c9o9ex .c-1qv5bbj,
            body .c-v84rpm .c-7bgiy1 .c-f1bud4 .c-90qmnj .c-1qv5bbj {
                padding-left: 8px !important;
                padding-right: 8px !important;
            }
            body .c-v84rpm .c-ry4gth .c-1dhsbqv {
                display: none !important;
            }
        }
        @media screen and (max-width: 720px) {
            body .c-v84rpm .c-ry4gth .c-1vld4cz {
                padding-bottom: 10px !important;
            }
        }
    title #{ emailSubjectText }
table.c-v84rpm(border='1' cellpadding='0' cellspacing='0' align='center' style='border: 0 none; border-collapse: separate; width: 720px;' width='720')
    tbody
        tr.c-1syf3pb(style='border: 0 none; border-collapse: separate; height: 114px;')
            td(style='border: 0 none; border-collapse: separate; vertical-align: middle;' valign='middle')
                table.c-f1bud4(align='center' border='1' cellpadding='0' cellspacing='0' style='border: 0 none; border-collapse: separate;')
                    tbody
                        tr.c-1p7a68j(align='center' style='border: 0 none; border-collapse: separate; padding: 16px 0 15px;')
                            td(style='border: 0 none; border-collapse: separate; vertical-align: middle;' valign='middle')
                                img.c-1shuxio(alt='' src='../../../client/assets/logotype.png' style='border: 0 none; line-height: 100%; outline: none; text-decoration: none; height: 50px; width: 50px;' width='120' height='33')
                            td(style='border: 0 none; border-collapse: separate; vertical-align: middle; font-size: 25px; font-weight: 600; color: #377fea') SmartBot
        tr.c-7bgiy1(style='border: 0 none; border-collapse: separate; -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.04); -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.04); box-shadow: 0 3px 5px rgba(0,0,0,0.04);')
            td(style='border: 0 none; border-collapse: separate; vertical-align: middle;' valign='middle')
                table.c-f1bud4(align='center' border='1' cellpadding='0' cellspacing='0' style='border: 0 none; border-collapse: separate; width: 100%;' width='100%')
                    tbody
                        tr.c-pekv9n(style='border: 0 none; border-collapse: separate; text-align: center;' align='center')
                            td(style='border: 0 none; border-collapse: separate; vertical-align: middle;' valign='middle')
                                table.c-1qv5bbj(border='1' cellpadding='0' cellspacing='0' width='100%' style='border: 0 none; border-collapse: separate; border-color: #E3E3E3; border-style: solid; width: 100%; border-width: 1px 1px 0; background: #FBFCFC; padding: 40px 54px 42px;')
                                    tbody
                                        tr(style='border: 0 none; border-collapse: separate;')
                                            td.c-1m9emfx.c-zjwfhk(style='border: 0 none; border-collapse: separate; vertical-align: middle; font-family: " HelveticaNeueLight","HelveticaNeue-Light","HelveticaNeueLight","HelveticaNeue","HelveticaNeue",Helvetica,Arial,"LucidaGrande",sans-serif;font-weight: 300; color: #1D2531; font-size: 25.45455px;' valign='middle') #{ titleText }
                                        tr(style='border: 0 none; border-collapse: separate;')
                                            td.c-46vhq4.c-4w6eli(style='border: 0 none; border-collapse: separate; vertical-align: middle; font-family: " HelveticaNeue","HelveticaNeue","HelveticaNeueRoman","HelveticaNeue-Roman","HelveticaNeueRoman","HelveticaNeue-Regular","HelveticaNeueRegular",Helvetica,Arial,"LucidaGrande",sans-serif;font-weight: 400; color: #7F8FA4; font-size: 15.45455px; padding-top: 20px;' valign='middle') #{ subtitleText }
                                        tr(style='border: 0 none; border-collapse: separate;')
                                            td.c-eitm3s.c-16v5f34(style='border: 0 none; border-collapse: separate; vertical-align: middle; font-family: " HelveticaNeueMedium","HelveticaNeue-Medium","HelveticaNeueMedium","HelveticaNeue","HelveticaNeue",sans-serif;font-weight: 500; font-size: 13.63636px; padding-top: 12px;' valign='middle') #{ hintText }
                                        tr(style='border: 0 none; border-collapse: separate;')
                                            td.c-rdekwa(style='border: 0 none; border-collapse: separate; vertical-align: middle; padding-top: 38px;' valign='middle')
                                                a.c-1eb43lc.c-1sypu9p.c-16v5f34(href=actionConfirmLink target='_blank' style='color: #000000; -webkit-border-radius: 4px; font-family: " HelveticaNeueMedium","HelveticaNeue-Medium","HelveticaNeueMedium","HelveticaNeue","HelveticaNeue",sans-serif;font-weight: 500; font-size: 13.63636px; line-height: 15px; display: inline-block; letter-spacing: .7px; text-decoration: none; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 4px; border-radius: 15px; background-color: #377fea;color: #ffffff; padding: 12px 24px;') #{ buttonText }
                                        tr(style='border: 0 none; border-collapse: separate;')
                                            td.c-ryskht.c-zjwfhk(style='border: 0 none; border-collapse: separate; vertical-align: middle; font-family: " HelveticaNeueLight","HelveticaNeue-Light","HelveticaNeueLight","HelveticaNeue","HelveticaNeue",Helvetica,Arial,"LucidaGrande",sans-serif;font-weight: 300; font-size: 12.72727px; font-style: italic; padding-top: 52px;' valign='middle') #{ warningText }
                        tr.c-183lp8j(style='border: 0 none; border-collapse: separate;')
                            td(style='border: 0 none; border-collapse: separate; vertical-align: middle;' valign='middle')
                                table.c-1qv5bbj(border='1' cellpadding='0' cellspacing='0' width='100%' style='border: 0 none; border-collapse: separate; border-color: #E3E3E3; border-style: solid; width: 100%; background: #FFFFFF; border-width: 1px; font-size: 11.81818px; text-align: center; padding: 18px 40px 20px;' align='center')
                                    tbody
                                        tr(style='border: 0 none; border-collapse: separate;')
                                            td(style='border: 0 none; border-collapse: separate; vertical-align: middle;' valign='middle')
                                                span.c-1w4lcwx
                                                    | #{ descriptionText }
        tr.c-ry4gth(style='border: 0 none; border-collapse: separate;')
            td(style='border: 0 none; border-collapse: separate; vertical-align: middle;' valign='middle')
                table.c-1vld4cz(border='1' cellpadding='0' cellspacing='0' width='100%' style='border: 0 none; border-collapse: separate; padding-top: 26px; padding-bottom: 26px;')
                    tbody
                        tr(style='border: 0 none; border-collapse: separate;')
                            td(style='border: 0 none; border-collapse: separate; vertical-align: middle;' valign='middle')
                                table.c-jfe37(border='1' cellpadding='0' cellspacing='0' width='55%' align='center' style='border: 0 none; border-collapse: separate; font-size: 10.90909px; text-align: center;')
                                    tbody
                                        tr(style='border: 0 none; border-collapse: separate;')
                                            td(style='border: 0 none; border-collapse: separate; vertical-align: middle;' valign='middle')
                                                a.c-1cmrz5j(href='https://smartbot.ua' target='_blank' style='text-decoration: underline; color: #7F8FA4;') #{ footerSiteLink }
                                            td(style='border: 0 none; border-collapse: separate; vertical-align: middle;' valign='middle')
                                                a.c-1cmrz5j(href='https://smartbot.ua/terms/' target='_blank' style='text-decoration: underline; color: #7F8FA4;') #{ footerTermsLink }
                                table.c-15u37ze(border='1' cellpadding='0' cellspacing='0' width='100%' style='border: 0 none; border-collapse: separate; font-size: 10.90909px; text-align: center; color: #7F8FA4; padding-top: 22px;' align='center')
                                    tbody
                                        tr(style='border: 0 none; border-collapse: separate;')
                                            td(style='border: 0 none; border-collapse: separate; vertical-align: middle;' valign='middle') &copy; #{ new Date().getFullYear() } - #{ footerCopyright }
                table.c-154w5of(border='1' cellpadding='0' cellspacing='0' width='100%' style='border: 0 none; border-collapse: separate;')
                    tbody
                        tr.c-1dhsbqv(style='border: 0 none; border-collapse: separate; text-align: center;' align='center')
                            td.c-1l1fguz(style='border: 0 none; border-collapse: separate; vertical-align: middle;' valign='middle')
                                img.c-y3y5wk(alt='' src='https://mail.crisp.chat/images/footer/common/separator.png' style='border: 0 none; line-height: 100%; outline: none; text-decoration: none; height: 2px; width: 719px;' width='719' height='2')
                        tr.c-19hn9rj(style='border: 0 none; border-collapse: separate;')
                            td.c-172hpk9(align='center' style='border: 0 none; border-collapse: separate; vertical-align: middle; padding-top: 15px; padding-bottom: 22px;' valign='middle')
                                a.c-1td7ar(href='https://smartbot.ua' target='_blank' style='color: #000000; text-decoration: none;')
                                    table(border='1' cellpadding='0' cellspacing='0' style='border: 0 none; border-collapse: separate;')
                                        tbody
                                            tr(style='border: 0 none; border-collapse: separate;')
                                                td.c-r0h1s.c-4w6eli(style='border: 0 none; border-collapse: separate; vertical-align: middle; font-family: " HelveticaNeue","HelveticaNeue","HelveticaNeueRoman","HelveticaNeue-Roman","HelveticaNeueRoman","HelveticaNeue-Regular","HelveticaNeueRegular",Helvetica,Arial,"LucidaGrande",sans-serif;font-weight: 400; color: #b3b6b8; font-size: 12.5px; text-transform: lowercase;' valign='middle') We run on
                                                td.c-1os4zjm(style='border: 0 none; border-collapse: separate; vertical-align: middle; padding-left: 6px;' valign='middle')
                                                    img.c-1280od(alt='' src='../../../client/assets/logotype.png' style='line-height: 100%; outline: none; text-decoration: none; border: 0 none; height: 50px; width: 50px;' width='50' height='16')
